@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}

.box{
  @apply w-72 h-72 bg-blue-500
}

button{
  @apply bg-blue-300 rounded-md mx-1 px-2
}

.wfit{
  width: fit-content;
}

ul, li{
  list-style-type: none;
}